.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav-fn p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
}
.nav-tabs a {
    padding: 20px;
    font-size: 20px;
    font-family: Montserrat
}