.projects-section {
    text-align: left;
}

.source-button {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    width: 90px;
 
}

.source-button:hover {
   opacity: 40%;
}