
.tabs-list {
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 24%);
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  

  .tab-trigger {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: hsl(0, 0%, 24%);
    border: none;
    color: gray;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 48%;
  }

  .tab-trigger:hover {
    background-color: hsl(0, 0%, 19%);
  }
  

  .tab-trigger[data-state='active'] {
    background-color: hsl(0, 0%, 14%);
    color: white;
  }
  

  .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
 
  }
  
  .subtext {
    color: rgb(151, 151, 151);
    margin-top: 0px;
    margin-bottom: 0
  }


  .job-title, .school-name {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .degree-name, .subtext {
    margin-top: 0px;
    color: rgb(109, 109, 109);
  }

  .bullet-list {
    margin-top: 5px;
    border-left: 1px solid white;
    list-style: none;
    
  }

  .bullet-list li {
    margin: 5px;
    padding: 5px;
  }

  .description-list {
    padding-left: 12px
  }

  .company-logo-container {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%; 
    width: 3rem; 
    height: 3rem; 
    border: 1px solid currentColor; 
  }

  .company-logo {
    aspect-ratio: 1 / 1; 
    height: 100%; 
    width: 100%; 
    background-color: var(--background); 
    object-fit: contain; 
  }


  .company-link {
    position: absolute;
    left: 30.5rem; 
    /* top: 1rem;    */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* background-color: #ffffff; */
    text-decoration: none;  
  }